/*Generals*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Background Color*/

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

/*Body Sections*/

.container{
    height: 100vh;
    position: relative;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.model{
    width: 90%;
    height: auto;
    margin: auto;
}

.box .model h1{
    text-align: center;
    color: yellow;
    font-size: 60px;
}

.box .model .special{
    color: green;
}

/*NAVIGATIONS*/

nav{
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 0;
    padding: 15px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    margin-left: 40px;
}

/*Link*/
nav ul li a{
    color: black;
    text-decoration: none;
}



